@font-face {
  font-family: 'Uchen';
  src: url(../);
}
html {
      scroll-behavior: smooth;
  }

body{
    background-color: #fffffff6; 
}

.menu, footer{
    background-color: rgba(17, 248, 240, 0.3);
    padding: 2%;
}


.itens_menu{
    padding-top: 1%;
    line-height: 1.5;
    text-align: center;
    font-size: 1.3em;
}

.itens_menu a:link, a:visited {
    color: antiquewhite;
    text-decoration: none;
    font-weight: bolder;
}

.itens_menu a:active{
    color: #000000;

}

.itens_menu a:hover{
    background-color: rgba(100, 149, 237, 0.3);
    padding: 0.8%;
}
  
    p{
        text-align: justify;
        font-family: 'Alfa Slab One', cursive;
    }

p{
    color: #000000;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 80px;

}
    h1{
        font-size: 2em;
        font-family:'AlfaSlabOne-Regular', cursive
    }


h1,h2{
    color: rgb(255, 0, 0);
    text-align: center;
    text-decoration-line: overline;
    text-decoration-color: rgb(229, 255, 0);
    text-shadow: 2px 2px 5px red;
    
}

figure{

    text-align: center;
}
  
.container{
    width:70% ;
    margin: auto;
    border-radius: 5px;
       }
        .img_topo{
            width: 100%;
       }
        .img_corpo{
        width: 110%;
        margin-top: 2%;
        margin-bottom: 2%; 
      }
      
a:link, a:visited {
  background-color: #000000;
  color: rgba(0, 241, 249, 0.616);
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(70, 38, 38);
}

.botao{
    margin: 1%;
    width: 100px;
    height: 30px;
    padding: 2%;
    margin: auto;
}
.botao:hover{
    background-color:#FFDEAD;
  }
  .botao a:link, .botao a:visited{
    color:#8B4513;
    text-decoration: none;
    font-weight: bolder;
  }
  .botao p{
    text-align: center;
  }
  section{
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .direita{
    float: right;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 40%;
  }
  .esquerda{
    float: left;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 40%;
  }

         
         