
html {
      scroll-behavior: smooth;
  }

    body{
      background-image: url(../img/eeeeeeeeeeeeeeeeeeeeee.jpg);
      background-repeat: no-repeat;
      letter-spacing: 1px;
      background-size: cover;
      letter-spacing: 2.3px;
      background-attachment: fixed;
      text-align: fixed;
     text-shadow: 1px 1px 2px #7e7e7e;
     font-family: "Audiowide", sans-serif;
}
u, footer{
  background-color:  #bdb5b583;
    padding: 2%;
}
.logos{
  width: 30%;
  text-align: left;
}

.menu{
  padding: 0.8%;
  width: 100%;
}
.itens_menu li{

  font-size: 1.3em;
  line-height: 1.5;
}
.fixo{
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}
header{
  background-color: rgba(0, 0, 0, 0.60);;
  padding: 2%;
  font-family: 'Gloria Hallelujah', cursive;  
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
}
.itens_menu{
  padding-top: 1%;
  text-align: center;
  line-height: 1.5;
  font-size: 1.3em;
  padding-bottom: 1%;
  padding: 1%;
  width: 100%;
}

.itens_menu7{
    padding-top: 1%;
    text-align: center;
    line-height: 1.5;
    font-size: 1.3em;
    padding-bottom: 1%;
    padding: 1%;
  }
  .itens_menu ul {
    list-style-type: none;
    margin: 2%;
    padding: 1;
   
  }
  .itens_menu li{
    display: inline;
    font-size: 1.3em;
    padding: 0.3%;
    
  }

.itens_menu a:visited,  a:link {
    color: rgb(229, 255, 0);
    text-decoration: none;
    font-weight: bolder;
    text-shadow: 2px 2px black;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.logo{
  display: inline;
  padding: 0.01%;
  padding-top: 1%;
  float: left;
}

.itens_menu a:active{
    color: #dad5d5;

}

.itens_menu a:hover{
    background-color: #2004da
    padding 0.8%;
}

    .center{
  position: absolute;
       margin: 2%;
    }
    
.como{
    font-size: 1.75em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 80px;
    letter-spacing: 2.3px;
    text-indent: 50px;
    font-family: "Audiowide", sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.como{
  color: rgb(226, 214, 214);

}
p.thick {
  font-weight: bold;
}
.sol{
  background-color: rgb(0, 0, 0);
    padding-top: 1%;

}

 
h1,h2{
    color: rgb(233, 8, 8);
    text-align: center;
     margin-bottom: 2%;
}

h1 {
  background-color: rgba(0, 0, 0, 0.60);;
text-shadow: 2px 2px 5px rgb(200, 255, 0);
font-size: 2em;
}

h4{
  text-align: center;
  color: blueviolet;
}
figure{
  text-align: center;
  padding: 1%;
}
.como{
 padding-top: 1%;
background-color:  rgba(0, 0, 0, 0.60);
}
  .float{
   width: 10%;
   float: right;
   margin: 1%
  }

.container{
  text-align: center;
  width:80%;
  margin: auto;
  padding: 1%;
    
       }
       .container2{
        padding: 3%;
        background-color: #dcdcdc83;
       }
       .container3{
        padding: 2%;
        background-repeat: no-repeat;
        background-position: center;
        width: 80%;
        margin: auto;
       }

      .img_topo{
          height: 40%;
         
       }
       .nada{
        width: 34%;
        height: 30% ; 
       }
       .tudo{
        width: 40%;
        height: 30% ; 
       }
       .opa{
        width: 34%;
        height: 30% ; 
       }
       .isso{
        width: 10%;
       }
       div.scrollmenu {
        background-color: rgba(22, 10, 6, 0.3);
        overflow: auto;
        white-space: nowrap;
       }
        .img_corpo{
        width: 60%;
        margin-top: 2%;
        margin-bottom: 2%; 
       }
       
      footer{
        padding-top: 1%;
        margin-top: 1%;
        padding-bottom: 1%;
      background-color:  rgba(22, 10, 6, 0.3);
       }
    footer p{
      text-align: center;
      font-size: 1em;

       }
    
      
a:link, a:visited {
 
  color: rgb(253, 217, 14);
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(109, 36, 36);
}

.botao{
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  margin: 1%;
  width: 100px;
  border-radius: 8px;
}

  .botao a:link, .botao a:visited{
    color:#f80000;
    text-decoration: none;
    font-weight: bolder;
    box-shadow: -2px 3px #222, -4px 6px #000;
  }
  .botao p{
    text-align: center;
  }
  

  .botton{
    font-size: 30px;
    border: 2px solid #7e7e7e;
    color: rgb(0, 38, 255);
    background-color: #444;
    box-shadow: -2px 3px #222, -4px 6px #000;
   }
 

  section{
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
 
  table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
   

  }
  .th,td{
    padding: 1%;
    border: 2px solid;

  }
 
  table,td,th{
    border: 1px dashed;
    padding: 1%;
  }
  tr:hover {background-color: rgb(255, 43, 6);}

         th{
           font-family: 1.5em;
         }
          table,p{
            color: rgb(0, 0, 0);
          }
         
          td:first-child{
            width: 40%;
          }
           td:first-child+ td{
             width: 60%
           }
           audio{
             width: 85%;
           }

         .gif{
          width: 5%;
             
         }
         .img_bola2{
          width: 10%;
         }
         .img_topo {
          width: 50%;    
         }
      .img_corpo{
        width: 70%;
       }
   
        .pitoco{
          width: 95%;
        }
        .mestre{
          width: 20%;
        }
       .correndo{
        width: 95%;
       }
   .instagram{
    width: 20%;
   }
